/* Basic Reset and General Styles */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 60px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  color: #555;
}

/* Button Style */
button {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  background-color: #61a5c2;
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5197b0;
}

/* Loading Spinner */
.loading {
  display: none;
  text-align: center;
  font-size: 20px;
  color: #61a5c2;
}

#posts-container {
  margin-top: 30px;
}

.post {
  padding: 15px;
  margin-bottom: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post:hover {
  background-color: #eef2f5;
  transform: scale(1.02);
}

.post h2 {
  font-size: 1.5em;
  margin: 0;
}

.post p {
  margin: 10px 0;
  line-height: 1.6;
}

.user-info {
  margin-top: 10px;
  font-style: italic;
  color: #888;
}

/* Like/Dislike Buttons */
.like-dislike {
  display: flex;
  justify-content: space-between; /* Ensure buttons are spaced evenly */
  margin-top: 15px;
  gap: 15px; /* Add space between the buttons */
}

.like-btn,
.dislike-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.like-btn:hover,
.dislike-btn:hover {
  background-color: #5197b0;
  transform: scale(1.1);
}

.like-btn:focus,
.dislike-btn:focus {
  outline: none;
}

.like-btn {
  background-color: #61a5c2;
}

.dislike-btn {
  background-color: #e57373;
}

/* Like/Dislike count styling */
.like-count,
.dislike-count {
  margin-top: 10px;
}

.like-count-label,
.dislike-count-label {
  font-weight: bold;
}

/* Modal Styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
  transition: opacity 0.3s ease-in-out;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Tooltip */
button[title]:hover::after {
  content: attr(title);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
}
